.skills_block {
  width: 100%;
}

.skills_block__title {
  text-align: center;
  line-height: 80px;
  display: block;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color: #4419df;
}

.skills_list {
  width: 100%;
  height: auto;
  -webkit-perspective: 900;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skill {
  border: 2px solid #080808;
  box-shadow: 0 0 25px #080808;
  border-radius: 6px 6px 6px 6px;
  height: 150px;
  width: 125px;
  margin-left: 40px;
  margin-top: 30px;
  position: relative;
  transform-style: preserve-3d;
  transition: 2s;
}

.skill__image_container {
  width: 100%;
}

.skill__image {
  width: 100%;
  height: 100%;
}

.skill__info {
  transform: rotateY(180deg);
}

.skill__title {
  width: 100%;
  height: auto;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  color: #4419df;
  text-align: center;
}

.skill__text {
  width: 100%;
  height: auto;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #080808;
  margin-left: 2px;
}

@media (max-width: 767px) {
  .skill {
    margin-left: 10px;
  }
}

.skill:hover {
  transform: rotateY(180deg);
  cursor: pointer;
}

.skill_side {
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.aboutme__title {
  text-align: center;
  line-height: 80px;
  display: block;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color: #4419df;
}

.aboutme__info {
  margin-left: 22%;
  width: 60%;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #080808;
  animation: cambioColor 8s linear 0.5s infinite alternate;
}

@media (max-width: 767px) {
  .aboutme__info {
    margin-left: 10px;
    width: 90%;
  }
}

@keyframes cambioColor {
  12% {
    color: #eb0b0b;
  }
  24% {
    color: #dd8809;
  }
  36% {
    color: #c1eb06;
  }
  48% {
    color: #0dd460;
  }
  60% {
    color: #15e0e0;
  }
  72% {
    color: #ca0bf0;
  }
  84% {
    color: #0a33e7;
  }
  100% {
    color: #000000;
  }
}

.projects_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.projects_block__title {
  text-align: center;
  line-height: 120px;
  display: block;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color: #4419df;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  justify-content: space-between;
  padding-left: 3px;
  padding-right: 1px;
}

@media (max-width: 767px) {
  .projects {
    justify-content: center;
  }
}

.project {
  width: 300px;
  height: 280px;
  padding: 1%;
  border: 2px solid #080808;
  box-shadow: 0 0 25px #a8a2a2;
  border-radius: 6px 6px 6px 6px;
  margin-top: 25px;
  /*&:hover{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        transition: 2s;
        cursor: pointer;
    }*/
}

.project__image_container {
  width: 100%;
}

.project__image {
  width: 300px;
  height: auto;
}

.project__name {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: #4419df;
}

.project__about {
  display: flex;
  justify-content: end;
  margin-top: 15px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.hobbies_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.hobbies_block__title {
  text-align: center;
  line-height: 120px;
  display: block;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color: #4419df;
}

.hobbies {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  padding-left: 3px;
  padding-right: 1px;
}

@media (max-width: 767px) {
  .hobbies {
    justify-content: center;
  }
}

.hobbie {
  width: 200px;
  height: 200px;
  border: 2px solid #080808;
  box-shadow: 0 0 25px #a8a2a2;
  border-radius: 6px 6px 6px 6px;
  margin-left: 50px;
  margin-top: 10px;
  margin-right: 50px;
}

.hobbie__gif_container {
  width: 100%;
}

.hobbie__gif {
  width: 200px;
  height: 200px;
}

.hobbie__gif:hover {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transition: 2s;
  cursor: pointer;
}

.hobbie:hover {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transition: 2s;
  cursor: pointer;
}

header {
  display: flex;
  background-color: transparent;
  background-image: url("../img/fondoestrellas.jpg");
  justify-content: center;
}

@media (max-width: 767px) {
  header {
    display: block;
  }
}

.propietario {
  margin-left: 60px;
  margin-top: 80px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  line-height: 70px;
}

@media (max-width: 767px) {
  .propietario {
    margin-left: 10px;
    margin-top: 0px;
  }
}

@media (max-width: 767px) {
  .fotocontenedor {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.fotocontenedor__img {
  width: 300px;
  height: auto;
  border-radius: 150px;
}

* {
  margin: 0;
  padding: 0;
}

.footer {
  margin-top: 20px;
  width: 100%;
  background-color: #111;
}

.footer__title {
  text-align: center;
  line-height: 80px;
  display: block;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.footer__copyr {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  padding-bottom: 30px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__item {
  height: 40px;
  width: 40px;
  padding: 10px;
  font-size: 25px;
  margin-left: 30px;
  margin-bottom: 20px;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  color: #d9d9d9;
  font-size: 22px;
  background-color: #1a1a1a;
  transition: 0.3s;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact__item:hover {
  background: #f12020;
}

@media (max-width: 767px) {
  .contact__item {
    margin-left: 10px;
  }
}
