.aboutme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
    &__title{
       text-align: center;
        line-height: 80px;
        display: block;
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
        color: $primary-color;
    }

    &__info{
        margin-left: 22%;
        width: 60%;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        color: $secondary-color;
        animation: cambioColor 8s linear 0.5s infinite alternate;
        @media(max-width: 767px){
            margin-left: 10px;
            width: 90%;
          }
        
    }   
}

@keyframes cambioColor{

12%{
    color: #eb0b0b ;
}
24%{
    color: #dd8809 ;
}
36%{
    color: #c1eb06 ;
}
48%{
    color: #0dd460 ;
}
60%{
    color: #15e0e0 ;
}
72%{
    color: #ca0bf0 ;
}
84%{
    color: #0a33e7 ;
}
100%{
    color: #000000 ;
}
}
    