.projects_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    &__title{
        text-align: center;
        line-height: 120px;
        display: block;
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
        color: $primary-color;
    }
}

.projects{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    justify-content: space-between;
    padding-left: 3px;
    padding-right: 1px;
   
    @media(max-width: 767px){
        justify-content: center;
    }

}

.project{
    width: 300px;
    height: 280px;
    padding: 1%;
    border: 2px solid $secondary-color;
    box-shadow: 0 0 25px #a8a2a2;
    border-radius: 6px 6px 6px 6px;
    margin-top: 25px;
    /*&:hover{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        transition: 2s;
        cursor: pointer;
    }*/
   
    &__image_container{
        width: 100%;
        
    }

    &__image{
        width: 300px;
        height: auto;
        
    }

    &__name{
        display: flex;
        justify-content: center;
        font-size: 20px;
        font-weight: bold;
        color: $primary-color;
        
    }

    &__about{
        display: flex;
        justify-content: end;
        margin-top: 15px;
        font-size:14px;
        font-family: Arial, Helvetica, sans-serif;
    }
}